.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    background: rgb(255 255 255 / 80%);
    display:none;
    z-index: 1000;
    position: absolute;
}
.App{
    position: relative;
}